SECRET_LCD=http://localhost:1317
SECRET_RPC=http://localhost:26657
SECRET_CHAIN=secretdev-1
SECRET_MAINNET_LCD='https://lcd.secret.adrius.starshell.net'

# # if you need to build the contract on another machine, you can specify the local path to the .wasm file below
# CONTRACT_WASM='./resources/contract.wasm'
