SECRET_LCD=http://localhost:1317
SECRET_RPC=http://localhost:26657
SECRET_CHAIN=secretdev-1
SECRET_MAINNET_LCD='https://lcd.secret.adrius.starshell.net'

DWB_SIMULATIONS=1025

# # if you need to build the contract on another machine, you can specify the local path to the .wasm file below
# CONTRACT_PATH='../../resources/contract.wasm.gz'

# # if you are getting errors, you can print all queries/executions to the chain
# DEV=1
